
.title {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
}

.amt {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    float: right;
}
.amt.budget {
    color: orange;
    cursor: pointer;
}
.amt.used {
    color: red;
}

.children {
    margin-left: 25px;
    display: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.node {
    border-width: 1px 0;
    border-style: solid;
    border-color: white;
}
.node:hover {
    border-color: black;
}

.newchild {
    cursor: pointer;
}

.parent {
    margin-right: 10px;
    color: black;
}

.heading {
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}