.title {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

.parent {
    display: inline;
    font-size: 12px;
    color: #888;
    cursor: pointer;
}

.parent:hover {
    color: #626;
}
.amt {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
}
.amt.budget {color: orange;}

.amt.used {color: red;}
